/* <!-- COMMON STYLES --> */

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p {
margin-bottom: 0;
margin-top: 0;
}

ul,ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #FAFAFA;
}

.accent {
  color: #FD9222;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;  
}

.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* <!-- HEADER --> */

.page-header {

}

.page-nav {
  display: flex;
  width: 980px;
  justify-content: space-between;
  align-items: center;

}

.logo {
  display: block;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}

.page-nav-list {
  display: flex;
  gap: 24px;

}

.page-nav-list-item {

}

.page-nav-link {
  display: block;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-nav-link:hover,
.page-nav-link:focus{
  color: #FD9222;
}

/* <!-- HERO --> */

.hero {
  width: 1136px;
  padding: 381px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);  
}

.main-title {
  width: 484px;
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px; 
}

.hero-bottom-block {
  display: flex;
  align-items: center;
}

.buy-now-btn {
  min-width: 144px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #FD9222; 
  padding: 14px 40px;
  margin-right: 14px;
  border: none;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  color: #FD9222;
  background: #FCF1E0;
}

.How-made-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  min-width: 183px;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #FFF;
  text-align: center;
  margin-right: auto;
}

.How-made-link:focus,
.How-made-link:hover {
  color: #FD9222;  
}


.scroll-down-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #FD9222;
}

/* <!-- Our benefits --> */

.benefits {
  background: #1E1823;
  margin-bottom: 50px;
  margin-top: 72px;
}

.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}

.benefits-list {
  display: flex;
  gap: 88px;

}


.benefits-list-item {
  width: calc((100% - 2 * 88px) / 3);
}

.benefits-list-title {
color: #FFF;
font-size: 18px;
font-weight: 600;
margin-bottom: 18px;
}

.benefits-list-text {
  color: rgba(255, 255, 255, 0.70);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;

}

/* <!-- ingredients --> */

.ingredients {
}

.ingredients-section-title{
  width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.ingredients-discription {
  width: 486px;
  color: #111;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ingredients-list {
  display: flex;
  gap: 19px;
}


.ingredients-list-item {
  width: calc((100% - 57px ) / 4);
  padding: 28px 32px;
  border-radius: 15px;
  border: 1px solid #FD9222;

}

.ingredients-list-item:nth-child(4n+1) {
  background-color: #FD9222;
  color: #FFF;
}

.ingredients-list-item:nth-child(even) {
  background-color: #FFF;
}

.ingredients-list-item:nth-child(4n+3) {
  background-color: #1E1823;;
  border-color: #1E1823;
  color: #FFF;
}


.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;  
}

/* <!-- hOW IT’S made --> */

.how-made {
}

.how-made-title {
  margin-bottom: 50px;
}

.how-made-content-wrapper {
display: flex;
gap: 20px;
}

.how-made-img {
}

.how-made-text-wrapper {
padding: 32px 32px;
border-radius: 15px;
background: #FFF;
}

.how-made-list-title {
  width: 350px;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; 
  margin-bottom: 28px;
}

.how-made-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 26px;
  padding-left: 14px;
}

.how-made-list-item {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;  
}

/* <!-- reviews --> */

.reviews {

}

.reviews-title {
 margin-bottom: 50px;
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
  
 
}


.reviews-list-item {
 position: relative;
 width: calc((100% - 56px) / 3);
 border-radius: 15px;
 border: 1px solid rgba(17, 17, 17, 0.10);
 background: #FFF;
 box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
 padding-top: 56px;
 padding-bottom: 24px;
 padding-left: 24px;
 padding-right: 24px;
}

.reviews-list-avatar {
  position: absolute;
  top: 0;
  left: 0;

}

.reviews-list-fullname {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}

.reviews-list-text {
  color: rgba(17, 17, 17, 0.70);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.leave-review-btn {
  display: block;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #FD9222;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: #FFF;
  background: #FD9222;
}

/* <!-- footer --> */

.page-footer {
  background: #1E1823;
}

.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
  padding-top: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.page-footer-title {
  width: 300px;
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; 
  letter-spacing: -0.02em;
}

.page-footer-contact-block {

}
.contact-title {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.contact-list {
}

.contact-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.contact-list-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-style: normal;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: #fd9222;
}

.page-footer-bottom-block {
 padding-top: 24px;
 padding-bottom: 50px;
}

.page-footer-menu-link {
  color: #ffffff;
}
